<div class="container">
	<div class="panel">
		<div class="col-xs-12">
			<div id="worldText">
				<div class="message">
					Welcome to the world of Thunder's Fury, traveler!
				</div>
			</div>
		</div>
		<div class="col-xs-12" id="user-input">
			<input type="text" name="userInput" id="userInput" style="width: 100%;" />
		</div>
	</div>
</div>