<div style="width: 100%;">
	<input type="text" name="userInput" id="userInput" style="width: 100%; background: black;" />
	<i class="fa fa-chevron-right" style="color: #00ff00; float: left;"></i>
</div>