<nav role="navigation" id="block-atlas-main-menu">
    <ul id="landing-page-menu-ul" class="menu nav navbar-nav">
        <li class="active" style="margin-left: 30px;">
            <a href="#heroimage" class="link-scrollto" data-target="heroimage">Home</a>
        </li>
        <li>
            <a href="#two-sides-header" class="link-scrollto" data-target="two-sides-header">Services</a>
        </li>
        <li>
            <a href="#our-story" class="link-scrollto" data-target="our-story">About Us</a>
        </li>
        <li>
            <a href="#contact-us" class="link-scrollto" data-target="contact-us">Contact</a>
        </li>
    </ul>
</nav>