<div id="wrapper2" class="container">
	<div class="main-wrapper">
		<div class="main-inner-wrapper">
			<div class="world-text-wrapper" id="world-text-wrapper">
				<div class="row">
					<div class="col-xs-12 world-text">
						{% include 'modules/custom/gameengine/templates/dashboard/world-text.html.twig' %}
					</div>
				</div>
			</div>
			<div class="user-text-wrapper">
				<div class="row">
					<div class="col-xs-12 user-input-wrapper">
						{% include 'modules/custom/gameengine/templates/dashboard/input.html.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>