<div class="container" style="height: 100vh;">
	<div class="panel">
		<div class="row">
			<div class="col-xs-12 world-text">
				{% include 'modules/custom/gameengine/templates/dashboard/world-text.html.twig' %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 user-input">
				{% include 'modules/custom/gameengine/templates/dashboard/input.html.twig' %}
			</div>
		</div>
	</div>
</div>