<form>
	<div class="col-xs-12">
		<input type="text" name="username" value="" placeholder="username" />
	</div>
	<div class="col-xs-12">
		<input type="password" name="password" value="" placeholder="password" />
	</div>
	<div class="col-xs-12">
		<button class="btn btn-submit">Login</button>
	</div>
</form>