<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Providers - Sitehands - Experts in the Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link href="/frontly/css/animate.css" rel="stylesheet">
    <link href="/frontly/css/rider.css" rel="stylesheet">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84940835-2', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="//cdn.zarget.com/96829/149762.js"></script>
    <script src="https://use.fontawesome.com/9d2df3abae.js"></script>
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- JS PLUGINS -->
<script src="/frontly/js/jquery.easing.min.js"></script>
<script src="/frontly/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/frontly/plugins/countTo/jquery.countTo.js"></script>
<script src="/frontly/plugins/inview/jquery.inview.min.js"></script>
<script src="/frontly/plugins/WOW/dist/wow.min.js"></script>
<script src="/frontly/js/custom.js"></script>


<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            {{ page.navigation }}
            {# .btn-navbar is used as the toggle for collapsed navbar content #}
            {% if page.navigation_collapsible %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
        </div>

        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
            <div id="navbar-collapse" class="navbar-collapse collapse">
                {{ page.navigation_collapsible }}
            </div>
        {% endif %}
    </div>
</div>

<section id="provider-jumbotron">
    <div class="container">
        <div class="row" style="margin-top: 20vh;">
            <div class="col-xs-12 text-center">
                <h1>Do Great <b>Work</b> with Sitehands</h1>
                <h3 style="margin-bottom: 28px;"><b>Apply today to become part of our world-class team.</b></h3>
                <div><a href="#contactus" class="btn btn-primary btn-lg">Join Our Fleet</a></div>
            </div>
        </div>
    </div>
</section>


<section id="whysitehands">
    <div class="container">
        <h1>Why Sitehands?</h1>
        <hr class="light-sep">
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #1561CB;" class="fa fa-wrench fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Do Great Work</h3>
                        <p>Sitehands’ customers are some of the largest and most respected companies in the world. As a
                            provider on our platform, you will be performing critical, stimulating field service jobs
                            that keep your favorite restaurant, bank, or retail store running at full speed.</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #1561CB;" class="fa fa-calendar fa-5x"
                                              aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h3>Fill Out Your Day</h3>
                        <p>Because we provide scheduled, emergency, and project work for our customers, there is always
                            work to be done in the Sitehands app. These transactions enable both technicians and field
                            service vendors to fill the slack time in their day.</p>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #1561CB;" class="fa fa-check fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Many Customers, One Standard</h3>
                        <p>Once you complete the onboarding process and qualify for a CST badge, you immediately get the
                            “green light” to perform work at many different sites for many different Sitehands
                            customers. Add in your unique skills and we can match you to the work that is best for
                            you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dowork">
    <div class="container">
        <div class="row">
            <div class="col-x2-12 col-sm-9">
                <h1>Do Great Work. Anywhere You Are.</h1>
                <hr class="light-sep">

                <h3>Sitehands gives you access to requests for work from some of the largest and most respected
                    companies in the world.</h3>

                <h3>When we receive an emergency request, our network of dispatch specialists reaches out to the
                    available technicians nearby with the skills and certifications needed to do the job.</h3>

                <h3>When you are on site, you can access all of the information needed to get the job done from the
                    device of your choice; our platform runs on phones, tablets and computers. And behind the app you
                    are supported by the industry leading domain experts in our 24/7 operations center.</h3>

            </div>
            <div class="col-xs-12 col-sm-3">
                <img src="/frontly/img/tech-client.png" class="img-responsive wow fadeInRight" data-wow-offset="150">
            </div>
        </div>
    </div>
</section>

<section id="provider-ourfleet">
    <div class="container">
        <h1>Join Our Fleet</h1>
        <hr class="light-sep">
        <h3 style="margin-bottom: 40px;">Prior to the launch of our open beta in Q1 2017, Sitehands is pre-certifying
            technicians with the CST badge. Simply follow this process to be certified to work as a Sitehands
            technician.</h3>
        <div class="row text-center">
            <div data-wow-delay=".2s" data-wow-offset="120" class="wow fadeInLeft col-xs-12 col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-clipboard fa-stack-1x" style="color: #FFFFFF;"></i>
                </span>
                <h4>1. Fill out the CST Badge Pre-Certification Form</h4>
            </div>
            <div data-wow-delay=".5s" data-wow-offset="120" class="wow fadeInLeft col-xs-12 col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check-square-o fa-stack-1x" style="color: #FFFFFF;"></i>
                </span>
                <h4>2. Pass the Certification Tests and Receive the Badge</h4>
            </div>
            <div data-wow-delay=".8s" data-wow-offset="120" class="wow fadeInLeft col-xs-12 col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-plus-square-o fa-stack-1x" style="color: #FFFFFF;"></i>
                </span>
                <h4>3. Upload and Verify Industry Certifications</h4>
            </div>
            <div data-wow-delay="1.1s" data-wow-offset="120" class="wow fadeInLeft col-xs-12 col-md-3">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x" style="color: #FFFFFF;"></i>
                </span>
                <h4>4. Start Doing Great Work in the Field!</h4>
            </div>
        </div>

    </div>
</section>

<section id="contactus" class="text-center" style="background-color: #fff; color: #000;">
    <div class="container">
        <h1>Take the First Step</h1>
        <hr class="light-sep">
        <h4 style="color: #000;">We are moving towards completion of our closed alpha and are seeking to expand our
            fleet.<br><br>Please fill out the form below if you are interested in leaning more about how you can do
            great work with Sitehands.</h4>

        <form class="form-horizontal text-left">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCompany" class="col-lg-2 control-label">Company Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputCompany" placeholder="Company Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">I am a...</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option>Independent Technician</option>
                            <option>Company with less than 25 Technicians</option>
                            <option>Company with 26-100 Technicians</option>
                            <option>Company with more than 100 Technicians</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPhone" placeholder="(212) 555-1212">
                    </div>
                </div>
                <div class="form-group">
                    <label for="coverageArea" class="col-lg-2 control-label">Describe your coverage area (states,
                        cities, countries)</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="2" id="coverageArea"
                                  placeholder="Midwest, New York City, Germany, etc."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="techCoverageArea" class="col-lg-2 control-label">Describe your technology coverage
                        (Cabling, Break/Fix, A/V, etc.)</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="techCoverageArea"
                                  placeholder="Cabling, Break/Fix, A/V, etc."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


</section>

<section id="inclosing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><b>Experts in the Field</b><br/>
                    Sitehands is a network of technicians who will get work done for you.</p>
                <hr class="light-sep">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Sitehands is a strategic business unit of CS Technology.</p>
                <h3>CS Technology</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>
                    One Penn Plaza<br>
                    54th Floor<br>
                    New York, NY 10119<br><br>
                    Phone: 646.473.2400
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                About<br>
                Support<br>
                Careers<br>
                Terms of Use<br>
                Privacy Policy<br>
            </div>
            <div class="col-xs-12 text-center">
                <h6>
                    <small>Copyright 2016 CS Technology</small>
                </h6>
            </div>
        </div>
    </div>
</section>


</body>

</html>
