<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IT Projects and Rollouts - Sitehands</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link href="/frontly/css/animate.css" rel="stylesheet">
    <link href="/frontly/css/rider.css" rel="stylesheet">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84940835-2', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="//cdn.zarget.com/96829/149762.js"></script>
    <script src="https://use.fontawesome.com/9d2df3abae.js"></script>
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>

    <![endif]-->

</head>


<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            {{ page.navigation }}
            {# .btn-navbar is used as the toggle for collapsed navbar content #}
            {% if page.navigation_collapsible %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
        </div>

        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
            <div id="navbar-collapse" class="navbar-collapse collapse">
                {{ page.navigation_collapsible }}
            </div>
        {% endif %}
    </div>
</div>

<section id="project-jumbotron">
    <div class="container">
        <div class="row" style="margin-top: 30vh;">
            <div class="col-xs-12 text-center">
                <h1><b>IT Projects and Rollouts</b></h1>
                <h3 style="margin-bottom: 28px;">Sitehands is your one-stop-platform for hardware refresh programs, new equipment roll-outs, and ad hoc technology projects</h3>
            </div>
        </div>
    </div>
</section>

<section id="whatwedo" style="text-align: left;">
    <div class="container">
        <h2 id="whatwedo-header" style="text-align: center;">Execute global, regional, or one-time-only projects with consistency and speed:</h2>
        <hr class="light-sep">

        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-3" style="margin-top: 10px;">
                <div class="wow fadeIn text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-pencil-square fa-stack-2x" style="color: #FF6120;"></i>
                    </span>
                </div>
            </div>
            <div class="col-sm-9">
                <h2>Design</h2>
                <h4>Sitehands maintains a group of technology design-engineers to support our customers as they design
                    next-generation technology solutions for stores, offices, data centers, and distributed equipment.
                    Whether the technology design process is just beginning, or is fully vetted and ready to be
                    rolled-out globally, our engineers are always on hand to ensure compliance with best-practices
                    and to guide solutions toward successful implementation.</h4>
            </div>
        </div>
        <div class="row vertical-align" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-xs-12 col-sm-3" style="margin-top: 10px;">
                <div class="wow fadeIn text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x" style="color: #FF6120;"></i>
                        <i class="fa fa-calendar-check-o fa-stack-1x" style="color: #ffffff;"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Implementation</h2>
                <h4>The combination of the Sitehands provider network and our underlying application technology enables
                    consistency and speed in even the most geographically distributed equipment roll-outs. For each
                    project, we work to develop a standardized work package so that technicians across the globe have
                    access to the same instructions, design guides, and real-time tips as they implement your new
                    technology solution. With each successful build, Sitehands refines the work package to account for
                    unforeseen issues and ensure that all remaining builds are executed efficiently and to the highest
                    standard.</h4>
            </div>
        </div>
        <div class="row vertical-align" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-xs-12 col-sm-3" style="margin-top: 10px;">
                <div class="wow fadeIn text-center">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-square fa-stack-2x" style="color: #FF6120;"></i>
                        <i class="fa fa-cogs fa-stack-1x" style="color: #ffffff;"></i>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h2>Support</h2>
                <h4>The real fun begins when your equipment roll-out is completed successfully. As your business begins
                    to experience the benefits of your new technology infrastructure, the Sitehands experts who
                    designed and implemented it will be at your disposal to ensure that everything is running at full
                    speed across your portfolio. Thanks to our full suite of Emergency Support, Asset Management, and
                    Facilities Management services, maintenance and support are only ever one click away.</h4>
            </div>
        </div>
    </div>
</section>

<section id="splitview" style="max-width: 100vw; overflow: hidden;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div style="margin-left: 25px; margin-right: 25px;">
                <h2 id="services-header text-center" style="color: #FF6120;">Our Customers...</h2>
                <hr class="light-sep" style="max-width: 1140px;">
                    <span class="text-left" style="margin-right: 25px;">
                        <ul>
                            <li><h4>Delight their end users with the most up-to-date technology</h4></li>
                            <li><h4>See consistent results thanks to standard digital work packages</h4></li>
                            <li><h4>Complete geographically distributed projects faster than ever before</h4></li>
                            <li><h4>Gain access to industry benchmarks and real-time quotes prior to implementation</h4></li>
                            <li><h4>Work alongside Sitehands design-engineers and program managers to deliver great outcomes</h4></li>
                            <li><h4>Receive a full digital inventory of installed devices in real-time</h4></li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div style="margin-left: 25px; margin-right: 25px;">
                    <h2 id="services-header text-center" style="color: #1561CB;">Our Providers...</h2>
                    <hr class="light-sep" style="max-width: 1140px;">
                    <span class="text-left" style="margin-right: 25px;">
                        <ul>
                            <li><h4>Stay up-to-date on installation best-practices for cutting-edge hardware solutions</h4></li>
                            <li><h4>Gain access to work on projects for the world’s most respected companies</h4></li>
                            <li><h4>Can specialize their work to the areas where they excel</h4></li>
                            <li><h4>Add to their Sitehands certifications with every successful roll-out</h4></li>
                            <li><h4>Get qualified to perform future support work at project sites</h4></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-site btn-lg">Large button</a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-hands btn-lg">Large button</a>
            </div>
        </div>

    </div>
</section>

<section id="provider-success" style="text-align: left;">
    <div class="container">
        <h2 id="services-header text-center">Success Story: Nationwide Meraki Roll-Out</h2>
        <hr class="light-sep" style="max-width: 1140px;">

        <h4>
            in mid-2016, a national retail company found themselves unable to meet core business objectives on their
            aging and non-standard wireless infrastructure. Working with Sitehands, they were able to install a
            state-of-the-art Meraki solution across the board - unifying customer experience, rewards, and staff
            connectivity at all franchises.
        </h4>
        <ul>
            <li><h4>1350+ US Locations</h4></li>
            <li><h4>49 States</h4></li>
            <li><h4>6 Months</h4></li>
        </ul>

        <a href=""#">Find Out More ></a>


    </div>
</section>

<section id="services" style="max-width: 100vw; overflow: hidden;">
    <div class="container-fluid">
        <h1 id="services-header">Our Services</h1>
        <hr class="light-sep" style="max-width: 1140px;">

        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-1" data-title="Your caption">
                    <img src="/frontly/img/portfolio/1.jpg" class="img-responsive" alt="1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure Break/Fix
                            </div>
                            <div class="project-name">
                                Real-Time Emergency Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-2" data-title="Your caption">
                    <img src="/frontly/img/portfolio/2.jpg" class="img-responsive" alt="2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                IT Projects & Roll-Outs
                            </div>
                            <div class="project-name">
                                Global, Regional, or One-Time-Only
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-3" data-title="Your caption">
                    <img src="/frontly/img/portfolio/3.jpg" class="img-responsive" alt="3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asset Management
                            </div>
                            <div class="project-name">
                                Inventory, Documentation, Assurance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-4" data-title="Your caption">
                    <img src="/frontly/img/portfolio/4.jpg" class="img-responsive" alt="4">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Workstation Services
                            </div>
                            <div class="project-name">
                                Moves, Adds, Changes, Decomissions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-5" data-title="Your caption">
                    <img src="/frontly/img/portfolio/5.jpg" class="img-responsive" alt="5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A/V Support
                            </div>
                            <div class="project-name">
                                Remote & In-Room Meeting Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-6" data-title="Your caption">
                    <img src="/frontly/img/portfolio/6.jpg" class="img-responsive" alt="6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Facilities Management
                            </div>
                            <div class="project-name">
                                Surveys & Issue Identification
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</section>


<section id="inclosing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><b>Experts in the Field</b><br/>
                    Sitehands is a network of technicians who will get work done for you.</p>
                <hr class="light-sep">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Sitehands is a strategic business unit of CS Technology.</p>
                <h3>CS Technology</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>
                    One Penn Plaza<br>
                    54th Floor<br>
                    New York, NY 10119<br><br>
                    Phone: 646.473.2400
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                About<br>
                Support<br>
                Careers<br>
                Terms of Use<br>
                Privacy Policy<br>
            </div>
            <div class="col-xs-12 text-center">
                <h6>
                    <small>Copyright 2016 CS Technology</small>
                </h6>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- JS PLUGINS -->
<script src="/frontly/js/jquery.easing.min.js"></script>
<script src="/frontly/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/frontly/plugins/countTo/jquery.countTo.js"></script>
<script src="/frontly/plugins/inview/jquery.inview.min.js"></script>
<script src="/frontly/plugins/WOW/dist/wow.min.js"></script>
<script src="/frontly/js/custom.js"></script>


</body>

</html>
