<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sitehands: Experts in the Field</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <link href="/frontly/css/animate.css" rel="stylesheet">
    <link href="/frontly/css/rider.css" rel="stylesheet">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84940835-2', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="//cdn.zarget.com/96829/149762.js"></script>
    <script src="https://use.fontawesome.com/9d2df3abae.js"></script>
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>

    <![endif]-->

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            {{ page.navigation }}
            {# .btn-navbar is used as the toggle for collapsed navbar content #}
            {% if page.navigation_collapsible %}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
        </div>

        {# Navigation (collapsible) #}
        {% if page.navigation_collapsible %}
            <div id="navbar-collapse" class="navbar-collapse collapse">
                {{ page.navigation_collapsible }}
            </div>
        {% endif %}
    </div>
</div>

<div class="jumbotron">

    <video id="video-background" preload muted autoplay loop>
        <source src="https://dl.dropboxusercontent.com/u/6705693/sizzlereel.mp4" type="video/mp4">
    </video>

    <div class="container container-video">
        <div class="row" style="margin-top: 20vh;">
            <div class="col-xs-12 text-center">
                <img class="wow rotateIn" data-wow-duration="5s" src="/frontly/img/keyhole.svg"
                     style="width: 20vw; max-width: 200px;">
                <h1><span class="wow fadeIn" data-wow-delay="1s">Experts in the </span><span class="wow fadeIn"
                                                                                             data-wow-delay="2s"><b>Field</b></span>
                </h1>
                <h3 class="wow fadeIn" data-wow-delay="3s">Sitehands puts a vast network of technicians at your
                    fingertips.</h3>
            </div>
        </div>
    </div>
</div>

<section id="whatwedo">
    <div class="container">
        <h2 id="whatwedo-header">Execute all the work in your portfolio under one contract</h2>
        <hr class="light-sep">
        <h3 id="whatwedo-subheader">Make Sitehands your platform for getting work done.&nbsp;&nbsp;<a href="/front/customers" style="color: #FF6120;">Learn More <i
                        class="fa fa-long-arrow-right" aria-hidden="true"></i></a></h3><br/>
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #FF6120;" class="fa fa-thumbs-up fa-5x"
                                              aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h3>We Have You Covered</h3>
                        <p>From one malfunctioning access point to a global infrastructure roll-out, our network of
                            thousands of technicians are always on call to deliver enterprise-grade services when you
                            need it, where you need it.</p>
                    </div>
                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #1561CB;" class="fa fa-universal-access fa-5x"
                                              aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h3>One Certification</h3>
                        <p>At Sitehands, we stand behind our fleet. Each technician we send into the field has been
                            fully vetted and received a Certified Sitehands Technician (CST) badge - guaranteeing
                            safety, quality, and professionalism.</p>
                    </div>

                </div>
                <div class="col-md-4" style="margin-bottom: 15px;">
                    <div class="media-top"><i style="color: #FF6120;" class="fa fa-database fa-5x"
                                              aria-hidden="true"></i></div>
                    <div class="media-body">
                        <h3>Finally - IT Execution Data</h3>
                        <p>Every time a technician performs work at a customer site, the data that we gather - asset
                            inventories, environmental hazards, time to resolution, and more - can be saved directly
                            into your system of record or CMDB.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" style="max-width: 100vw; overflow: hidden;">
    <div class="container-fluid">
        <h1 id="services-header">Our Services</h1>
        <hr class="light-sep" style="max-width: 1140px;">

        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-1" data-title="Your caption">
                    <img src="/frontly/img/portfolio/1.jpg" class="img-responsive" alt="1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure Break/Fix
                            </div>
                            <div class="project-name">
                                Real-Time Emergency Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a href="/front/service/projects" class="portfolio-box" data-lightbox="image-2" data-title="Your caption">
                    <img src="/frontly/img/portfolio/2.jpg" class="img-responsive" alt="2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                IT Projects & Roll-Outs
                            </div>
                            <div class="project-name">
                                Global, Regional, or One-Time-Only
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-3" data-title="Your caption">
                    <img src="/frontly/img/portfolio/3.jpg" class="img-responsive" alt="3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Asset Management
                            </div>
                            <div class="project-name">
                                Inventory, Documentation, Assurance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-4" data-title="Your caption">
                    <img src="/frontly/img/portfolio/4.jpg" class="img-responsive" alt="4">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Workstation Services
                            </div>
                            <div class="project-name">
                                Moves, Adds, Changes, Decomissions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-5" data-title="Your caption">
                    <img src="/frontly/img/portfolio/5.jpg" class="img-responsive" alt="5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                A/V Support
                            </div>
                            <div class="project-name">
                                Remote & In-Room Meeting Support
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                <a class="portfolio-box" data-lightbox="image-6" data-title="Your caption">
                    <img src="/frontly/img/portfolio/6.jpg" class="img-responsive" alt="6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Facilities Management
                            </div>
                            <div class="project-name">
                                Surveys & Issue Identification
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</section>
<section id="ourstory">
    <div class="container">
        <h1 id="ourstory-header">Our Story</h1>
        <hr class="light-sep">
        <h3 style="margin-bottom: 20px;">Sitehands is more than just a marketplace for finding qualified, experienced
            field technicians.</h3>
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-10 text-left">
                <p>In 2015, Sitehands was created as a business unit within CS Technology, an advisory firm that
                    provides strategy and implementation for the world's largest technology organizations. We founded
                    Sitehands as a response to one problem that our customers experienced again and again: a company's
                    technology strategy is only as good as their ability to execute it in the field.</p>

                <p>The Sitehands management team has spent decades perfecting IT field execution on greenfield
                    infrastructure projects across the globe, while simultaneously managing break/fix, workstation
                    services, disaster recovery, and application migrations for numerous Fortune 500 customers.</p>

                <p>When CEO JP Rosato set out to build a business that provides IT field services better, cheaper, and
                    faster than ever before, he gathered a team of experts together to design and implement a new model
                    for getting work done in the field. The Sitehands advisory council comprises experts from around the
                    world including former Chief Operating Officers from global financial services organizations,
                    technologists from retail, banking, and the technology sector, and C-level talent from the service
                    providers we're out to disrupt.</p>

                <p>At the moment, Sitehands is in the midst of a closed alpha launch with five customers, and gearing up
                    for an open beta that will hit the market in the first quarter of 2017. So far, the results of our
                    alpha have been extremely promising, with our largest customers experiencing over 30% year-over-year
                    savings, faster response times, and higher levels of first-time issue resolution. To schedule a demo
                    or sign up for an early release of Sitehands beta, feel free to contact us.</p>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>
</section>


<section id="fun-facts">
    <div class="container">
        <h2 id="funfacts-header">Some Fun Facts </h2>
        <hr class="light-sep" style="margin-bottom: 40px;">
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <i class="fa fa-usd fa-4x" aria-hidden="true"></i>
                <h2 id="h2percent" class="number timer">30</h2>
                <h4>Year-over-year Savings</h4>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
                <h2 class="number timer">124153</h2>
                <h4>Successfully Completed Jobs</h4>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-building fa-4x" aria-hidden="true"></i>
                <h2 class="number timer">1654</h2>
                <h4>Ground-up Site Builds</h4>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
                <h2 class="number timer">5</h2>
                <h4>Continents Served</h4>
            </div>
        </div>
    </div>
</section>


<section id="joinourfleet">
    <div class="container">
        <h1 id="ourfleet-header">Our Fleet</h1>
        <hr class="light-sep">
        <div class="row">
            <div class="col-xs-12 col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                <h3 style="margin-bottom: 40px; color: #fff;">Sitehands technicians are the most important part of our
                    business. We attract qualified service professionals who share our core values of excellence,
                    trustworthiness, and a deep pride in their work. Once these technicians enroll, we invest heavily in
                    them through industry-leading certifications and hands-on training. By the time we send them into
                    the field, we stand behind their work 100%.</h3>
                <div><a href="/front/providers" class="btn btn-primary btn-lg">Join Our Fleet</a></div>
            </div>
            <div class="col-xs-12 col-sm-1"></div>
        </div>
    </div>
</section>

<section id="inclosing">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><b>Experts in the Field</b><br/>
                    Sitehands is a network of technicians who will get work done for you.</p>
                <hr class="light-sep">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Sitehands is a strategic business unit of CS Technology.</p>
                <h3>CS Technology</h3>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>
                    One Penn Plaza<br>
                    54th Floor<br>
                    New York, NY 10119<br><br>
                    Phone: 646.473.2400
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                About<br>
                Support<br>
                Careers<br>
                Terms of Use<br>
                Privacy Policy<br>
            </div>
            <div class="col-xs-12 text-center">
                <h6>
                    <small>Copyright 2016 CS Technology</small>
                </h6>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- JS PLUGINS -->
<script src="/frontly/js/jquery.easing.min.js"></script>
<script src="/frontly/plugins/waypoints/jquery.waypoints.min.js"></script>
<script src="/frontly/plugins/countTo/jquery.countTo.js"></script>
<script src="/frontly/plugins/inview/jquery.inview.min.js"></script>
<script src="/frontly/plugins/WOW/dist/wow.min.js"></script>
<script src="/frontly/js/custom.js"></script>


</body>

</html>
